.main {
  background-color: #2B2D42;
}
.second {
  background-color: #8D99AE;
}
.third {
  background-color: #EDF2F4;
}
.fourth {
  background-color: #EF233C;
}
.fifth {
  background-color: #D90429;
}
