{% extends "base.html" %}

{% block body %}
<div class="section no-pad-bot top-section" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center third-color-text">COPOSTO</h1>
    <div class="row center">
      <h5 class="header col s12 light">Transportation service made for you</h5>
    </div>
    <div class="container col s6 form">
      <form>
        <button type="submit" href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light third-color white-color-text">
          Send
        </button>
        <div class="input-field">
          <input name="name" placeholder="What would you like to send?">
        </div>
      </form>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center main-color-text"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Inexpensive</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center main-color-text"><i class="material-icons">flight</i></h2>
          <h5 class="center">Faster</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center main-color-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
          <h5 class="center">Reliable</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
{% endblock %}